################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ef_todos_console/bin/Debug/netcoreapp3.1
/ef_todos_console/obj
